{# FIXME: this is not how Symfony forms should be done, but this is the MVP we need #}
<hr/>
<form enctype="multipart/form-data" method="post" action="">
    <label for="myfile">File:</label>
    <input id="myfile" name="userfile" type="file" />
    <input type="submit" value="Log the file!">
</form>
<hr/>